/__pycache__
/hold
/notes
/tst
/autopilot.log
/templates/images
/dist
/build
/EDAPGiu.spec
/EDAPGui.spec
/elw.txt
/build.bat
/screen/old-screen_cap.png
/templates/bck
/configs/AP.json
/EDAPGui.exe
.idea/
EDMesg/__pycache__/
simple_localization/__pycache__/
ocr_output/
configs/construction.json
configs/ocr_calibration.json
configs/ship_configs.json
test/match/
debug-output/
runs/
