/__pycache__
/hold
/notes
/tst
/autopilot.log
/templates/images
/dist
/build
/EDAPGiu.spec
/EDAPGui.spec
/elw.txt
/build.bat
/screen/old-screen_cap.png
/templates/bck
/configs/AP.json
/EDAPGui.exe
.idea/

# New additions
*.log
/venv/
./__pycache__
.claude
EDMesg
*.pyc