/__pycache__
/hold
/notes
/tst
/autopilot.log
/templates/images
/dist
/build
/EDAPGiu.spec
/EDAPGui.spec
/elw.txt
/build.bat
/screen/old-screen_cap.png
/templates/bck
/configs/AP.json
/EDAPGui.exe
.idea/
EDMesg/__pycache__/
simple_localization/__pycache__/
